cooluri/XMLSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- GLOBAL TYPE DEFINITIONS -->
  <xs:simpleType name="sql">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="regexp">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="constraintType">
    <xs:choice>
      <xs:element name="match" type="regexp"/>
      <xs:sequence>
        <xs:element name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="int"/>
              <xs:enumeration value="float"/>
              <xs:enumeration value="string"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="compare">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="lte"/>
              <xs:enumeration value="gte"/>
              <xs:enumeration value="lt"/>
              <xs:enumeration value="gt"/>
              <xs:enumeration value="eq"/>
              <xs:enumeration value="neq"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="value" type="xs:string"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="boolean">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="0"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="paramconstraintType">
    <xs:complexContent>
      <xs:extension base="constraintType">
        <xs:attribute name="param" type="xs:token"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="lookindbType">
    <xs:all>
      <xs:element name="from" type="sql" minOccurs="0"/> <!--cache-->
      <xs:element name="to" type="sql"/>
      <xs:element name="translatetoif" type="constraintType" minOccurs="0"/>
      <xs:element name="urlize" type="boolean" minOccurs="0"/><!--cache-->
    </xs:all>
  </xs:complexType>
  
  <xs:simpleType name="behaviorType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="message"/>
        <xs:enumeration value="redirect"/>
        <xs:enumeration value="page"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- GLOBAL VARIABLE DEFINITIONS -->
    
  <xs:element name="behavior">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" type="behaviorType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="cache">
    <xs:complexType>
      <xs:all>
        <xs:element name="usecache" type="boolean"/>
        <xs:element name="tablesprefix" type="xs:token"  minOccurs="0"/>
        <xs:element name="cacheparams" type="boolean"   minOccurs="0"/>
        <xs:element ref="params2cool"   minOccurs="0"/>
        <xs:element ref="cool2params"   minOccurs="0"/>
        <xs:element ref="pagenotfound"  minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="cool2params">
    <xs:complexType>
      <xs:all>
        <xs:element name="translateifnotfound" type="xs:unsignedInt"/>
        <xs:element name="oldlinksvalidfor" type="xs:unsignedInt"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="cooluri">
    <xs:complexType>
      <xs:all>
        <xs:element name="cooluris" type="boolean"/>
        <xs:element ref="uri"               minOccurs="0"/>
        <xs:element name="savetranslationto" type="xs:token" minOccurs="0"/>
        <xs:element ref="pathseparators"    minOccurs="0"/>
        <xs:element name="urlprefix" type="xs:token"         minOccurs="0"/>
        <xs:element name="urlsuffix" type="xs:token"         minOccurs="0"/>
        <xs:element ref="removeparts"       minOccurs="0"/>
        <xs:element ref="cache"             minOccurs="0"/>
        <xs:element ref="uriparts"          minOccurs="0"/>
        <xs:element ref="pagepath"          minOccurs="0"/>
        <xs:element ref="predefinedparts"   minOccurs="0"/>
        <xs:element ref="valuemaps"         minOccurs="0"/>
        <xs:element name="removetrailingslash" type="boolean" minOccurs="0"/>
        <xs:element ref="paramorder" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="lookindb">
    <xs:complexType>
      <xs:all>
        <xs:element name="from" type="sql"/>
        <xs:element name="to" type="sql"/>
        <xs:element name="translatetoif" type="constraintType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="pagenotfound">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string"/>
        <xs:element ref="behavior"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pagepath">
    <xs:complexType>
      <xs:all>
        <xs:element name="table" type="xs:token" minOccurs="0"/>
        <xs:element name="id" type="xs:token" minOccurs="0"/>

        <xs:element name="alias" type="xs:token"        minOccurs="0"/>
        <xs:element name="title" type="xs:token"        minOccurs="0"/> <!--cache-->

        <xs:element name="connection" type="xs:token" minOccurs="0"/>
        <xs:element ref="start"  minOccurs="0"/>
        <xs:element name="idconstraint" type="constraintType" minOccurs="0"/> <!--cache-->
        <xs:element name="saveto" type="xs:token"/>
        <xs:element name="default" type="xs:token"/>
        <xs:element ref="required" minOccurs="0"/> <!--cache-->
        <xs:element ref="paramconstraints" minOccurs="0"/> <!--cache-->
        <xs:element name="allparamconstraints" type="constraintType" minOccurs="0"/> <!--cache-->
        <xs:element name="additionalWhere" type="sql" minOccurs="0"/> <!--cache-->
        
        <xs:element name="userfunc" type="xs:token" minOccurs="0"/>
        <xs:element name="maxsegments" type="xs:unsignedInt" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="paramconstraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paramconstraint" type="paramconstraintType" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="paramorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" type="xs:token" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="params2cool">
    <xs:complexType>
      <xs:all>
        <xs:element name="checkforchangeevery" type="xs:unsignedInt"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="part">
    <xs:complexType mixed="true">
      <xs:all>
        <xs:element name="lookindb" type="lookindbType" minOccurs="0"/>
        <xs:element name="parameter" type="xs:token" minOccurs="0"/>
        <xs:element name="value" type="xs:token" minOccurs="0"/>
        <xs:element name="userfunc" type="xs:token" minOccurs="0"/> <!--cache-->
      </xs:all>
      <xs:attribute name="notrequired" type="boolean" use="optional" />
      <xs:attribute name="static" type="boolean" use="optional" />
      <xs:attribute name="key" type="regexp" use="optional" />
      <xs:attribute name="regexp" type="boolean" use="optional" />
      <xs:attribute name="pagepath" type="boolean" use="optional" />
      <xs:attribute name="after" type="xs:token" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="pathseparators">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="separator" type="xs:token" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="predefinedparts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="part" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="removeparts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="part" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="required">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" type="xs:token" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="start">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" type="xs:token"/>
        <xs:element name="value" type="xs:token"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="uri">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="var" type="xs:token"/>
        <xs:element name="part" type="xs:token" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="uriparts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="part" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="value">
    <xs:complexType mixed="true">
      <xs:attribute name="key" type="xs:token"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="valuemap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parameter" type="xs:token"/>
        <xs:element ref="value" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="valuemaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="valuemap" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
